body {
  padding-top: 70px;
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media (max-width: 768px) {
  body {
    padding-top: 20px;
  }
}
.content {
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2 {
  color: white; 
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(28, 12, 71)
}
.texto-centrado {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; /* Aplica negritas al texto */
  font-size: 16px;
}
.navbar {
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-nav .nav-link {
  color: white !important;
  font-weight: bold; /* Aplica negritas al texto */
}

.navbar-brand img {
  pointer-events: none;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.4);
  transition: transform 0.3s;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-float img {
  width: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.owl-carousel .owl-item {
  opacity: 0.4; /* Cambié ".4" a "0.4" */
  transition: all 0.5s ease; /* Cambié ".5" a "0.5" */
  transform: scale(0.8);
}

.owl-carousel .owl-item.center {
  opacity: 1;
  transform: scale(1);
}

.owl-carousel .owl-item img {
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.p-3 {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(48, 25, 61);
}

.zoom-on-hover:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  background-color: #1f023a;
}

.footer-section {
  flex: 1;
  margin: 0 10px;
  color: white !important;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.social-icons i {
  font-size: 30px;
  color: rgb(252, 247, 247);
}
.responsive-img
{
    max-width: 100%;
    height: auto;    
}

