
.product-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.product-1 {
  background-color: rgb(28, 12, 71);
}
.product-txt {
  padding: 60px 40px;
}
h3 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}
.price  {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.price p {
  font-size: 13px;
  color: white;
}
.btn-2 {
  display: inline-block;
  padding: 8px 25px;
  background-color: fuchsia;
  margin-right: 25px;
  border-radius: 20px;
  border: 2xp solid;
  font-size: 17px;
  color: white;
}
